@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
text-align: center;

color: #fff;
background: linear-gradient(90deg, rgba(54,51,51,1) 31%, rgba(156,156,163,1) 100%, rgba(0,212,255,1) 100%);
}